<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maksimov Egor">
    <meta name="description" content="Изучаем ваш бизнес. Узнаем, что важно клиентам, 
    как вызвать доверие и довести до заявки или покупки">
    <title>Сайты на Тильде</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleForJs.css' %}">

</head>
<body class="body">
    <header class="header">
        <nav class="header__nav">
            <a href="" class="text header__nav__item">Работы</a>
            <a href="" class="text header__nav__item">Услуги</a>
            <a href="" class="text header__nav__item">Процесс</a>
            <a href="" class="text header__nav__item">Обо мне</a>
            <a href="" class="text header__nav__item">Контакты</a>
        </nav>
        <div class="text header__logo">HEKLYN</div>
        <h1 class="title_black header__tilte">Сайты на Тильде, которые убеждают и продают</h1>
        <p class="text header__text">Изучаем ваш бизнес. Узнаем, что важно клиентам, 
            как вызвать доверие и довести до заявки или покупки</p>
        <div class="header__buttons">
            <button class="button_black header__buttons__item">Связаться в Телеграмм</button>
            <button class="button_white header__buttons__item header__buttons__item_img">
                <img class="header__buttons__item__img" src="{% static 'img/triangle.svg' %}" alt="">
                <p class="header__buttons__item__text">Видеопортфолио</p>
            </button>
        </div>
    </header>
    <main class="main">
        <section class="portfolio">
            <nav class="portfolio__nav">
                <button class="button_black portfolio__nav__item" id="navitem1">Все</button>
                <button class="button_white portfolio__nav__item" id="navitem2">Сайт под ключ</button>
                <button class="button_white portfolio__nav__item" id="navitem3">Разработка</button>
                <button class="button_white portfolio__nav__item" id="navitem4">Дизайн</button>
            </nav>
            <figure class="portfolio__img">
                <img class="portfolio__img__item portfolio__img__item_1" src="{% static 'img/site_1.png' %}" alt="">
                <img class="portfolio__img__item portfolio__img__item_2" src="{% static 'img/site_2.png' %}" alt="">
                <img class="portfolio__img__item portfolio__img__item_3" src="{% static 'img/site_3.png' %}" alt="">
                <img class="portfolio__img__item portfolio__img__item_1" src="{% static 'img/site_4.png' %}" alt="">
                <img class="portfolio__img__item portfolio__img__item_2" src="{% static 'img/site_5.png' %}" alt="">
                <img class="portfolio__img__item portfolio__img__item_3" src="{% static 'img/site_6.png' %}" alt="">
            </figure>
        </section>
        <addres class="addres">
            <img src="{% static 'img/my-fhoto.jpg' %}" alt="" class="addres__my-img">
            <img src="{% static 'img/skyrim.svg' %}" alt="" class="addres__decorate-img">
            <div class="addres__about-me">
                <p class="title_black addres__about-me__name">Егор Максимов</p>
                <p class="text addres__about-me__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, numquam dignissimos animi expedita modi illum? <br><br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt facilis recusandae, quidem voluptatum perferendis culpa nisi, explicabo rem ducimus dolorem magni! Doloribus quo eius eaque expedita architecto quos eveniet. Magni?Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
                <div class="addres__about-me__facts">
                    <div class="addres__about-me__facts__item">
                        <p class="title_black addres__about-me__facts__item__num">1</p>
                        <p class="text addres__about-me__facts__item__text">fact</p>
                    </div>
                    <div class="addres__about-me__facts__item">
                        <p class="title_black addres__about-me__facts__item__num">2</p>
                        <p class="text addres__about-me__facts__item__text">fact</p>
                    </div>
                    <div class="addres__about-me__facts__item">
                        <p class="title_black addres__about-me__facts__item__num">3</p>
                        <p class="text addres__about-me__facts__item__text">fact</p>
                    </div>
                </div>
            </div>
        </addres>
        <section class="services">
            <h2 class="title_white services__title">Услуги</h2>
            <div class="services__wrapper-for-container">
                <div class="services__container {{classes.one}}">
                    {% for service in services_one %}
                        <div class="services__container__item">
                            <p class="services__container__item__num">{{service.id}}</p>
                            <p class="title_black services__container__item__name">{{service.name}}</p>
                            <p class="text services__container__item__text">{{service.body}}</p>
                            <div class="services__container__item__line"></div>
                            <p class="title_black services__container__item__price">От {{service.price}} ₽</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="services__container {{classes.two}}">
                    {% for service in services_two %}
                        <div class="services__container__item">
                            <p class="services__container__item__num">{{service.id}}</p>
                            <p class="title_black services__container__item__name">{{service.name}}</p>
                            <p class="text services__container__item__text">{{service.body}}</p>
                            <div class="services__container__item__line"></div>
                            <p class="title_black services__container__item__price">От {{service.price}} ₽</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="price-count">
            <h3 class="title_black">Подсчет стоимости</h3>
            <div class="calc">
                <div class="calc__out {{calc.one}}">
                    <p class="title_black calc__out__title">Примерный подсчет:</p>
                    <div class="calc__out__item">
                        <p class="text calc__out__item__title">Стоимость</p>
                        <p class="title_black calc__out__item__text calc_out_text">От {{calc.two}} ₽</p>
                    </div>
                    <div class="calc__out__item">
                        <p class="text calc__out__item__title">Примерные сроки</p>
                        <p class="title_black calc__out__item__text">{{calc.three}} рабочих дней</p>
                    </div>
                    <button class="button_black calc__out__button">Обсудить проект</button>
                </div>
                <form class="calc__in" action="/calculate/" method="POST">
                    {% csrf_token %}
                    <select name="name" id="select_type" class="input calc__in__type">
                        <option value="type_0">Тип работы</option>
                        {% for service in all_services %}
                            <option value="{{service.name}}">{{service.name}}</option>
                        {% endfor %}
                    </select>
                    <select name="size" id="select_size" class="input calc__in__size">
                        <option value="size_0">Насколько большой проект?</option>
                        <option value="size_1">Маленький</option>
                        <option value="size_2">Большой</option>
                    </select>
                    <div class="calc__in__checkbox">
                        <input type="checkbox" class="checkbox">
                        <p class="text">Да, я слышал про осеннюю школу.
                            Интересно а после нее будет егэ?</p>
                    </div>
                    <button class="button_white calc__in__button">Рассчитать стоимость</button>
                </form>
            </div>
        </section>
        <section class="faq">
            <h4 class="title_white faq__title">Вопрос-ответ</h4>
            <div class="faq__content">
                <div class="faq__content__item">
                    <div class="title_black faq__content__item__title">
                        <p class="faq__content__item__title__text">Делаете только дизайн?</p>
                        <img class="faq__content__item__title__img" src="{% static 'img/cross.svg' %}" alt="">
                    </div>
                    <div class="faq__content__item__text">
                        <p class="text faq__content__item__text__text">Lorem idebitis temporibus voluptates laudantium eveniet qui ullam, officiis animi obcaecati unde a culpa explicabo ex inventore veniam et, dolores quam ratione vitae cumque, deserunt quidem. Illum possimus consequatur quae voluptatum rerum incidunt a accusantium animi ipsam fugit ad itaque nisi, dolorem sint reiciendis accusamus ducimus sapiente iste explicabo quasi hic iusto illo? Inventore, quis repellat. Suscipit dignissimos non totam, illo fuga alias dolore accusamus adipisci quibusdam aspernatur asperiores qui aperiam, eaque impedit neque sequi beatae iure in repellat eveniet. Eveniet illo possimus aliquid ipsam corporis at nam dolor libero quia velit consequuntur ullam odio quasi, repudiandae corrupti placeat consectetur provident reprehenderit blanditiis. Autem modi neque quia ipsa nihil voluptatem.</p>
                    </div>
                </div>
                <div class="faq__content__item">
                    <div class="title_black faq__content__item__title">
                        <p class="faq__content__item__title__text">Почему тильда?</p>
                        <img class="faq__content__item__title__img" src="{% static 'img/cross.svg' %}" alt="">
                    </div>
                    <div class="faq__content__item__text">
                        <p class="text faq__content__item__text__text">Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины. <br><br>А еще</p>
                        <ul class="faq__content__item__text__text__list">
                            <li class="text faq__content__item__text__text__list__item">Не нужен программист, тильдой легко управлять</li>
                            <li class="text faq__content__item__text__text__list__item">Можно менять контент самому без помощи специалиста</li>
                            <li class="text faq__content__item__text__text__list__item">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                            <li class="text faq__content__item__text__text__list__item">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                            <li class="text faq__content__item__text__text__list__item">Адекватные цены тарифов</li>
                        </ul>
                    </div>
                </div>
                <div class="faq__content__item">
                    <div class="title_black faq__content__item__title">
                        <p class="faq__content__item__title__text">Какие сроки</p>
                        <img class="faq__content__item__title__img" src="{% static 'img/cross.svg' %}" alt="">
                    </div>
                    <div class="faq__content__item__text">
                        <p class="text faq__content__item__text__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur optio dolor nesciunt maiores nulla excepturi recusandae accusamus dolores vel iusto et iure modi sequi eveniet totam voluptate voluptatem, enim est assumenda quaerat mollitia beatae. Pariatur possimus doloremque, voluptate labore quod mollitia cumque odio excepturi suscipit! Necessitatibus reiciendis sunt, quo explicabo dolorem ducimus qui sint eius totam, fugiat omnis maxime, blanditiis impedit accusamus neque. Omnis nisi accusantium tempore aliquam alias nemo repellendus unde nulla excepturi recusandae repellat minus possimus quos officiis sed sapiente error qui, suscipit voluptate labore veniam? Consequatur earum itaque debiti</p>
                    </div>
                </div>
                <div class="faq__content__item">
                    <div class="title_black faq__content__item__title">
                        <p class="faq__content__item__title__text">Как происходит оплата?</p>
                        <img class="faq__content__item__title__img" src="{% static 'img/cross.svg' %}" alt="">
                    </div>
                    <div class="faq__content__item__text">
                        <p class="text faq__content__item__text__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur optio dolor nesciunt maiores nulla excepturi recusandae accusamus dolores vel iusto et iure modi sequi eveniet totam voluptate voluptatem, enim est assumenda quaerat mollitia beatae. Pariatur possimus doloremque, voluptate labore quod mollitia cumque odio excepturi suscipit! Necessitatibus reiciendis sunt, quo explicabo dolorem ducimus qui sint eius totam, fugiat omnis maxime, blanditiis impedit accusamus neque. Omnis nisi accusantium tempore aliquam alias nemo repellendus unde nulla excepturi recusandae repellat minus possimus quos officiis sed sapiente error qui, suscipit voluptate labore veniam? Consequatur earum itaque </p>
                    </div>
                </div>
                <div class="faq__content__item">
                    <div class="title_black faq__content__item__title">
                        <p class="faq__content__item__title__text">Сколько правок можно внести?</p>
                        <img class="faq__content__item__title__img" src="{% static 'img/cross.svg' %}" alt="">
                    </div>
                    <div class="faq__content__item__text">
                        <p class="text faq__content__item__text__text">Lorem ipsum veniam et, dolores quam ratione vitae cumque, deserunt quidem. Illum possimus consequatur quae voluptatum rerum incidunt a accusantium animi ipsam fugit ad itaque nisi, dolorem sint reiciendis accusamus ducimus sapiente iste explicabo quasi hic iusto illo? Inventore, quis repellat. Suscipit dignissimos non totam, illo fuga alias dolore accusamus adipisci quibusdam aspernatur asperiores qui aperiam, eaque impedit neque sequi beatae iure in repellat eveniet. Eveniet illo possimus aliquid ipsam corporis at nam dolor libero quia velit consequuntur ullam odio quasi, repudiandae corrupti placeat consectetur provident reprehenderit blanditiis. Autem modi neque quia ipsa nihil voluptatem.</p>
                    </div>
                </div>
                <div class="faq__content__item">
                    <div class="title_black faq__content__item__title">
                        <p class="faq__content__item__title__text">Работаете со срочными проектами?</p>
                        <img class="faq__content__item__title__img" src="{% static 'img/cross.svg' %}" alt="">
                    </div>
                    <div class="faq__content__item__text">
                        <p class="text faq__content__item__text__text">Lorem ipsuventore veniam et, dolores quam ratione vitae cumque, deserunt quidem. Illum possimus consequatur quae voluptatum rerum incidunt a accusantium animi ipsam fugit ad itaque nisi, dolorem sint reiciendis accusamus ducimus sapiente iste explicabo quasi hic iusto illo? Inventore, quis repellat. Suscipit dignissimos non totam, illo fuga alias dolore accusamus adipisci quibusdam aspernatur asperiores qui aperiam, eaque impedit neque sequi beatae iure in repellat eveniet. Eveniet illo possimus aliquid ipsam corporis at nam dolor libero quia velit consequuntur ullam odio quasi, repudiandae corrupti placeat consectetur provident reprehenderit blanditiis. Autem modi neque quia ipsa nihil voluptatem.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="feedback">
            <div class="feedback__title">
                <h5 class="title_black">Оставьте заявку</h5>
                <p class="text feedback__title__text">Я сам напишу вам, и сообщу все детали</p>
            </div>
            <form class="feedback__form" action="/send_data/" method="POST">
                {% csrf_token %}
                <input name="name" class="input feedback__form__item" type="text" placeholder="Имя">
                <input name="email" type="email" class="input feedback__form__item" placeholder="Почта">
                <select class="input feedback__form__item" name="select">
                    <option>Услуга</option>
                    {% for service in all_services %}
                        <option>{{service.name}}</option>
                    {% endfor %}
                </select>
                <textarea name="commen" id="" cols="30" rows="10" class="input feedback__form__item_comm" placeholder="Комментарий"></textarea>
                <button class="button_black feedback__form__button">Отправить сообщение</button>
            </form>
        </section>
    </main>
    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
</body>