@media (max-width: 1200px){
    .header{
        grid-template-columns: 20px 1fr 20px;
    }

    .main{
        grid-template-columns: 20px 1fr 20px;
    }

    .services{
        grid-template-columns: 20px 1fr 20px;
    }

    .faq{
        grid-template-columns: 20px 1fr 20px;
    }
}

@media (max-width: 1200px) {
    .header__tilte{
        font-size: 55px;
    }
}

@media (max-width: 1050px) {
    .header__tilte{
        font-size: 45px;
    }

    .services__container{
        grid-template-columns: 1fr;
        width: 70%;
    }
    .services__container__item__line{
        margin: 9px 0;
    }

    .addres__about-me{
        margin: 0;
    }
    .addres__about-me__facts{
        margin: 0;
    }
    .calc{
        width: 70%;
    }
    .feedback__form{
        width: 70%;
    }
}

@media (max-width: 850px) {
    .header__tilte{
        width: 90%;
    }
    .header__text{
        width: 60%;
    }

    .addres__decorate-img{
        width: 70px;
        height: 70px;
    }
    .addres__about-me__name{
        font-size: 35px;
    }
    .addres__about-me__text{
        font-size: 14px;
    }
}

@media (max-width: 780px) {
    .body{
        grid-row-gap: 60px;
    }

    .header{
        grid-template-columns: 5px 1fr 5px;
        grid-template-rows: 40px auto 60px auto 40px auto 40px auto;

    }
    .portfolio__img{
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
    .portfolio__img__item_1{
        grid-column: 1;
    }
    .portfolio__img__item_2{
        grid-column: 1;
    }
    .portfolio__img__item_3{
        grid-column: 1;
    }

    .main{
        grid-template-columns: 5px 1fr 5px;
        grid-row-gap: 60px;
    }

    .services{
        grid-template-columns: 5px 1fr 5px;
        padding: 60px 0;
        grid-row-gap: 40px;
    }
    .price-count{
        grid-row-gap: 40px;
    }

    .faq{
        grid-template-columns: 5px 1fr 5px;
        padding: 60px 0;
        grid-row-gap: 60px;
    }
    .feedback{
        padding-bottom: 70px;
        grid-row-gap: 40px;
    }

    .calc{
        width: 75%;
    }
    .feedback__form{
        width: 75%;
    }
    .services__container{
        width: 100%;
    }
    .services__container__item__name{
        font-size: 35px;
    }
    .services__container__item__text{
        font-size: 24px;
    }    
}

@media (max-width: 640px) {
    .header__tilte{
        width: 100%;
        font-size: 40px;
        text-shadow: 0 2px rgb(192, 192, 192);
    }
    .header__text{
        width: 90%;
    }
    .header__nav{
        grid-row: 3;
    }
    .addres{
        grid-template-columns: 1fr 66.14% 1fr;
        grid-row-gap: 40px;
    }
    .addres__my-img{
        grid-column: 2;
        grid-row: 1;
    }
    .addres__decorate-img{
        grid-column: 2;
        grid-row: 1;
        position: relative;
        left: -50px;
    }
    .addres__about-me{
        grid-row: 2;
        grid-column: 1/5;
        justify-items: center;
    }
    .addres__about-me__name{
        font-size: 30px;
    }
    .addres__about-me__text{
        font-size: 20px;
    }
    .addres__about-me__facts{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .title_black{
        font-size: 30px;
    }
    .title_white{
        font-size: 30px;
    }
    .button_black{
        font-size: 12px;
    }
    .button_white{
        font-size: 12px;
    }
    .text{
        font-size: 12px;
    }
    .portfolio__nav{
        grid-gap: 1vw;
    }
    .addres__about-me__text{
        font-size: 16px;
    }
    .services__container__item{
        padding: 10px;
    }
    .services__container__item__name{
        font-size: 24px;
    }
    .services__container__item__text{
        font-size: 16px;
    }
    .services__container__item__line{
        margin: 0;
    }
    .services__container__item__price{
        font-size: 24px;
    }
    .faq__content__item__title{
        font-size: 16px;
    }
    .calc{
        width: 100%;
    }
    .calc__in{
        width: 80%;
    }
    .calc__out{
        width: 70%;
    }
    .faq__content__item__text__text{
        font-size: 16px;
    }.faq__content__item__text__text__list__item{
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .header__tilte{
        font-size: 25px;
    }
    .portfolio__nav{
        width: 100%;
        grid-gap: 0;
        justify-content: space-between;
    }
    .portfolio__nav__item{
        padding: 2px 6px;
    }
    .header__buttons__item{
        padding: 4px 8px;
    }
    .header__nav{
        grid-gap: 0;
        width: 100%;
        justify-content:space-around;
    }
}


