@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    padding: 0;
    margin: 0;
    font-family: Raleway;
}

.title_white{
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.title_black{
    font-size: 48px;
    font-weight: 600;
    color: black;
}

.text{
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.button_white{
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    transition: all 0.25s;
}

.button_black{
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    background-color: black;
    color: white;
    transition: all 0.25s;
}

.input{
    width: auto;
    height: 48px;
    border-radius:8px;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.body{
    display: grid;
    grid-column: 1fr;
    grid-row-gap: 120px;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1160px 1fr;
    width: 100%;
    grid-template-rows: 40px auto 120px auto 40px auto 80px auto;
    justify-items: center;
}

.header__nav{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    width: auto;
    grid-template-columns: repeat(5, auto);
    grid-gap: 30px;
    align-self:center
}

.header__nav__item{
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    width: auto;
}

.header__nav__item::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0; bottom: -5px;
    transition: all 0.25s;
    transform: translateY(10px);
    opacity: 0;
}

.header__logo{
    transition: all 0.25s;  
    grid-row: 2;
    grid-column: 2;
    justify-self: start;
    padding: 4px 8px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 8px;
}

.header__tilte{
    grid-column: 2;
    grid-row: 4;
    font-size: 64px;
    text-shadow: 0 4px rgb(192, 192, 192);
    width: 69.3%;
    text-align: center;
}

.header__text{
    grid-column: 2;
    grid-row: 6;
    width: 41.7%;
    text-align: center;
}

.header__buttons{
    grid-column: 2;
    grid-row: 8;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.header__buttons__item{
    padding: 15px 24px;
}

.header__buttons__item_img{
    display: grid;
    grid-template-columns: 16px 1fr;
}

.header__buttons__item__img{
    align-self: center;
}

.header__buttons__item__text{
    align-self: center;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1160px 1fr;
    grid-row-gap: 120px ;
    justify-items: center;
}

.portfolio{
    grid-column: 2;
    display: grid;
    width: 100%;
    justify-items: center;
    grid-gap: 40px;
}

.portfolio__nav{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio__nav__item{
    padding: 4px 16px;
    width: auto;
    border-radius: 10000px;
}

.portfolio__img{
    display: grid;
    grid-gap: 40px;
    width: 100%;
}

.portfolio__img__item{
    width: 100%;
}

.portfolio__img__item_1{
    grid-column: 1/3;
}

.portfolio__img__item_2{
    grid-column: 1/2;
}

.portfolio__img__item_3{
    grid-column: 2/3;
}

.addres{
    grid-column: 2;
    display: grid;
    width: 86%;
    grid-template-columns: 7.3% 40.1% 4% 48.5%;
}

.addres__my-img{
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    border-radius: 16px;

}

.addres__decorate-img{
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
    background-color:rgb(213, 213, 213);
    border-radius: 50%;
}

.addres__about-me{
    grid-column: 4;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 80px;
    margin-bottom: 72px;
    grid-gap: 24px;
}

.addres__about-me__facts{
    display: flex;
    margin-top: 40px;
    margin-right: 144px;
    justify-content: space-between;
}

.addres__about-me__facts__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addres__about-me__facts__item__num{
    font-size: 24px;
}

.services{
    grid-column: 1/4;
    background-color: black;
    width: 100%;
    display: grid;
    padding: 120px 0;
    grid-template-columns: 1fr 1160px 1fr;
    grid-row-gap: 80px;
    justify-items: center;
}

.services__title{
    grid-column: 2;
}

.services__container{
    display: grid;
    grid-gap: 28px;
}

.services__wrapper-for-container{
    grid-column: 2;
    display: grid;
    grid-row-gap: 28px;
    justify-items: center;
}

.services__container1_by3{
    grid-template-columns: repeat(3, 1fr);
}

.services__container1_by2{
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 60px;
}

.services__container2_by2{
    grid-template-columns: repeat(2, 2fr);
    width: calc((100% - 56px) / 3 * 2 + 28px);
}

.services__container2_by1{
    grid-template-columns: repeat(1, 2fr);
    width: 70%;
}

.services__container__item{
    display: grid;
    border-radius: 16px;
    background-color: white;
    padding: 40px;
    grid-gap: 16px;
}

.services__container__item__num{
    color: gray;
}

.services__container__item__name{
    font-size: 20px;
}

.services__container__item__line{
    height: 2px;
    width: 27.8%;
    background-color: gray;
    margin: 39px 0;
}

.services__container__item__price{
    font-size: 24px;
}

.price-count{
    grid-column: 2;
    display: grid;
    width: 100%;
    justify-items: center;
    grid-row-gap: 80px;
}

.calc{
    display: grid;
    width: 40%;
    justify-items: center;
    justify-self: center;
}

.calc__out{
    display: grid;
    display: none;
    transform: translateY(-100%);
    transition: all 1s;
    width: 78.6%;
    grid-row-gap: 24px;
    padding: 40px 24px;
    border: 1px solid gray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background:white;
}

.calc__out__title{
    font-size: 32px;
}

.calc__out__item__text{
    font-size: 20px;
}

.calc__out__button{
    margin-top: 16px;
    height: 56px;
}

.calc__in{
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    transform: translateZ(-1px);
    display: grid;
    grid-row-gap: 24px;
    border: 1px solid gray;
    padding: 40px 24px;
    border-radius:8px;
    background-color:white
}

.calc__in__checkbox{
    width: 100%;
    display: grid;
    grid-template-columns: 16px auto;
    grid-column-gap: 16px;
}

.calc__in__button{
    margin-top: 16px;
    height: 56px;
}



.faq{
    grid-column: 1/4;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1160px 1fr;
    justify-items: center;
    background-color: black;
    padding: 120px 0;
    grid-row-gap: 80px;
}

.faq__title{
    grid-column: 2;
    grid-row: 1;
}

.faq__content{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-row-gap: 16px;
    width: 100%;
}

.faq__content__item{
    background-color: white;
    padding: 32px 40px;
    border-radius: 16px;
    display: grid;
    grid-row-gap: 24px;
}

.faq__content__item__title{
    display: grid;
    grid-template-columns: auto 16px;
    align-items: center;
    font-size: 20px;
}

.faq__content__item__title__img{
    transform: rotate(45deg);
    transition: all 0.25s;
}

.faq__content__item__text{
    transform: scaleY(0);
    display: none;
    transition: all 0.5s;
}

.faq__content__item__text__text__list{
    margin-left: 30px;
}

.feedback{
    grid-column: 2;
    display: grid;
    width: 100%;
    justify-items: center;
    grid-row-gap: 80px;
    padding-bottom: 140px;
}

.feedback__title{
    display: grid;
    grid-row-gap: 8px;
    justify-items: center;
}

.feedback__title__text{
    font-size: 20px;
    font-weight: 600;
}

.feedback__form{
    display: grid;
    padding: 40px 24px;
    width: 34.5%;
    border: 1px solid gray;
    border-radius: 8px;
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
}

.feedback__form__item{
    border: 1px solid gray;
}

.feedback__form__item_comm{
    height: 160px;
    border: 1px solid gray;
    resize: none;
    padding-top: 12px;
}

.feedback__form__button{
    height: 56px;
    margin-top: 16px;
}