.header__nav__item_hold{
    position: relative;
    transform: scale(1.3);
    transition: 0.25s
}

.header__nav__item_hold::before{
    transform: scale(1);
    transform: translateY(0);
    opacity: 1;
    transition: all 0.25s;
}

.header__logo_hold{
    transition: all 0.25s;
    transform: scale(1.3);
    background: linear-gradient(#ff85ff, #ff7474)
}

.button_black:hover{
    background-color: rgb(40, 40, 40);
    transform: scale(1.07);
    transition: all 0.25s;
}

.button_white:hover{
    background-color: rgb(214, 214, 214);
    transform: scale(1.07);
    transition: all 0.25s;
}

.portfolio__img__item_full{
    width: 100%;
    grid-column: 1/2;
}

.faq__content__item__title__img_clicked{
    transform: rotate(0);
    transition: all 0.25s;
}

.faq__content__item__text_clicked{
    display: initial;
    transform: scaleY(1);
    transition: all 0.5s;
}

.calc__out_open{
    display: grid;
    transform: translateY(0);
    transition: all 1s;
}

.calc__in__button_off{
    background-color:rgb(142, 78, 78);
}

.calc__in__button_off:hover{
    background-color:rgb(142, 78, 78);
}

